* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	font-family: Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
	margin-bottom: 5px;
	font-family: Arial, sans-serif;
}
