#quoteSection{
    height: 19.04761905%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
#quoteContent{
    width:61.71875%;
    h3{
        font-size: 15px;
        font-weight: 400;
        color:#FFD140;
    }
}
#personTitle{
    h3{
        font-size: 15px;
        color:#EE4367;
    }
    h4{
        font-size:10px;
        color: #A8A8A8;
    }
}